@import "@styles/variables";

.pagination {
  display: flex;
  justify-content: center;
  @include text-l;

  &>* {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item {
    font-weight: 600;
    @include square(36px);
    cursor: pointer;
    border-radius: 50%;
    margin: 20px 0;

    &:hover,
    &:focus {
      background-color: $gray;
    }
  }

  &__dots {
    font-weight: 600;
    padding: 0px 4px;
  }
}

.current {
  background-color: $blue;
  color: #fff;
}