@import "@styles/variables";

.coinDescription {

  &__title {
    @include text-m;
    color: $gray;
    margin-bottom: 8px;
  }

  &__subtitle {
    color: $black;
    word-break: break-all;

    &>a {
      color: $blue;
      text-decoration: underline;
    }
  }
}