@import "@styles/variables";

.input {
  width: 100%;
  @include text-s;
  color: $blue-black;
  padding: 12px;
  border: 1px solid $light-gray;
  border-radius: 4px;
  background-color: #fff;

  &_disabled {
    background-color: $white-gray;
    pointer-events: none;
  }

  &:hover,
  &:focus {
    border-color: $gray;
  }

  &::placeholder {
    color: $light-gray;
  }
}