@import "@styles/variables";

.price {
  display: flex;
  flex-direction: column;
<<<<<<< HEAD
  align-items: end;

  &_top {
    color: #343A40;
    @include text-m();
  }

  &_bottom {
    @include text-xs();

    &.price_green {
      color: $green;
    }

    &.price_red {
=======

  &>* {
    text-align: end;
  }

  &_top {
    color: #343A40;
    @include text-m;
  }

  &_bottom {
    @include text-xs;

    &.green {
      color: $green;
    }

    &.red {
>>>>>>> 6499884 (hw-5)
      color: $red;
    }
  }
}