@import "@styles/variables";

.coinPrice {
  display: flex;
  align-items: flex-end;

  &__main {
    @include text-xl();
    font-weight: 500;
    color: $black;
    margin-right: 12px;
  }

  &__percentage {
    @include text-m;
    font-weight: 450;
    padding-bottom: 2px;

    &.green {
      color: $green;
    }

    &.red {
      color: $red;
    }
  }
}