@import "@styles/variables";

.headerCoin {
  display: flex;
  align-items: center;

  &__img {
    height: 24px;
    margin-right: 8px;
  }

  &__vector {
    height: 14px;
    margin-right: 16px;
    cursor: pointer;
  }

  &__name {
<<<<<<< HEAD
    @include text-m();
=======
    @include text-m;
>>>>>>> 6499884 (hw-5)
    color: $black;

    &>span {
      text-transform: uppercase;
<<<<<<< HEAD
      @include text-xs();
=======
      @include text-xs;
>>>>>>> 6499884 (hw-5)
      color: $gray;
      margin-left: 4px;
    }
  }
}