@import "@styles/variables";

.coinContainer {
  overflow: auto;

  &>*:last-child {
    margin-top: 16px;
    margin-bottom: 20px;
  }
}

.coin {
  margin-top: 10px;
  padding: 0 16px;

<<<<<<< HEAD
  &>*:not(:last-child) {
    margin-bottom: 16px;
  }
=======
  &>* {
    margin-bottom: 16px;
  }

  &>*:first-child {
    margin-top: 18px;
  }

  &>*:last-child {
    margin-bottom: 0;
  }
>>>>>>> 6499884 (hw-5)
}